{% if page_obj.has_other_pages %}

    {% block paginator %}

        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% if page_obj.paginator.num_pages >= 4 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">Первая</span>
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for foo in page_obj.paginator.page_range %}
                {% if page_obj.number == foo %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ foo }}">{{ foo }}</a>
                    </li>
                {% elif foo > page_obj.number|add:-3 and foo < page_obj.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ foo }}">{{ foo }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                {% if page_obj.paginator.num_pages >= 4 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Previous">
                            <span aria-hidden="true">Последняя</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>

    {% endblock %}

{% endif %}
